<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <img class="details-img" [src]="movie.poster_path" />
    </div>
    <div class="col-xs-12 col-sm-8">
      <h2>{{ movie.title }}</h2>
      <h3>{{ movie.tagline }}</h3>

      <p class="meta-wrap">
        <span class="rating">Rating : {{ movie.vote_average }}</span> <br />
        <span class="meta">{{ movie.spoken_languages[0].name }} / {{ movie.runtime }} /{{ movie.release_date }}</span>
      </p>

      <ul class="genres">
        <li *ngFor="let genre of genres">{{ genre.name }}</li>
      </ul>
    </div>
  </div>
</div>
<app-add-comment></app-add-comment>